<extend name="partials/style1" />


<block name="area_header">
	<style type="text/css">
		.about-banner {
			background: url(__IMG__/banner/aboutban.png) no-repeat center top;
		}
	</style>
</block>

<block name="area_body">
	<include file="partials/header" />

	<div class="about-banner">

	</div>

	<div class="aboutus clearfix center-block">
		<div class="col-lg-push-1 col-md-push-1 col-lg-6 col-md-6">
			
			<h2>软件产品的企业解决方案及互联网应用软件开发服务商</h2>
			<p style="line-height: 25px;">
				杭州博也网络科技有限公司（www.itboye.com）专注于App开发等移动互联网相关领域，通过严格管理规范和专业化服务为客户提供优质的手机App研发服务,团队成员均来自国际制造业巨头，国内一线电商及国内顶尖的外包公司。
				<br /> 公司努力为大客户提供精准、完善的移动互联网应用及解决方案，解决客户的应用需求，帮助企业级客户迅速布局互联网。秉承“为合作伙伴创造价值”的核心价值观，并以“诚实、宽容、创新、服务”为企业精神，通过自主创新和真诚合作为移动互联网领域创造价值。
<br />
我们帮助企业挖掘潜在的核心价值，通过对企业的细致了解，量身定制解决方案，优化企业内部资源分配，梳理规范工作流程，用先进的技术和行业经验实现传统管理模式和软件产品无法完成的定制化需求设计及开发。<br />
我们始终关注前沿技术，为的是在快速发展的IT行业，保持国际领先的眼界和技术储备。只有这样，才能为客户设计出最优秀的解决方案。<br />
我们是一群有梦想的年轻人，死磕自己，做最好的产品，相信好产品自己会说话。
			</p>
			
		</div>
		<div class="col-lg-push-1 col-md-push-1 col-lg-4 col-md-4 hidden-sm hidden-xs">
			<img src="__IMG__/u153.png" alt="杭州app开发" width="300px">
		</div>
		
		<div class="col-lg-10 col-md-10 col-lg-push-1 col-md-push-1">
			<!--<h2 class="text-center">组织·结构</h2>-->

			
			<h2>我们的优势</h2>
			<p style="line-height: 25px;">
				我们更懂行 多年APP开发策划及移动网站设计经验对设计开发了若指掌 <br/>我们更领先 最早涉足移动APP开发技术/理念/系统更领先 <br/>我们更系统 以更人性化的界面设计为导向的全方位移动体验设计 <br/>我们更敏锐 资深市场一线人员、移动领域专业工程师共同参与研发</p>
			
			<p></p>
		</div>
		
	</div>
	





</block>

<block name="area_footer">
	<include file="partials/footer" />
</block>