<extend name="template/base_index" />

<block name="area_header">
	
	<meta name="msapplication-TileImage" content="__IMG__/144.png">
	<meta name="msapplication-TileColor" content="#E0EBE8">
	<link rel="shortcut icon" href="http://seanhalpin.io/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="__IMG__/144.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="__IMG__/120.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="__IMG__/72.png">
	<link rel="apple-touch-icon-precomposed" href="__IMG__/57.png">
	<link rel="icon" type="image/png" href="__IMG__/favicon.png">
	<link rel="stylesheet"  href="__CSS__/flat-skin.css">
</block>
<block name="area_body">
	
<!-- top 块 -->
<section id="top">
	<header id="home-top" class="nav-top nav-fixed nav-root">
		
			<div class="container">
			
				<div class="row">
				
					<div class="col-md-4 col-xs-4">
					
						<h1 id="header-logo" class="image-text">
						
							<a href="/">
								<span class="mask"></span>
								<span class="behind"></span>
								{:L('COMPANY_NAME')}
								<i class=""></i>
							</a>
							
						</h1>
						
					</div>
					
					<div class="col-md-8 col-xs-8">
					
						<nav id="top-nav">
						
							<ul class="nav-list transistion">
							
															<li><a class="active" href="{:U('Index/index')}">{:L('VIEW_INDEX_INDEX')}</a></li>
														<li><a href="{:U('Index/blog')}">{:L('VIEW_INDEX_BLOG')}</a></li>
														<li><a href="{:U('Index/about')}">{:L('VIEW_INDEX_ABOUT')}</a></li>
																					
							</ul>
						
						</nav>
					
					</div> <!-- 12 -->
				
				</div> <!-- / row -->
						
			</div> <!--/ container -->
		
		
		</header>
		
		
		<div class="masthead-wrap">
		
			<div id="title" class="work-head">
			
				
			
				<div class="container">
				
					<div class="transistion cloud left-cloud-work"></div>
					<div class="transistion cloud right-cloud-work"></div>

					<div class="transistion flag flag-left"></div>
					<div class="transistion flag flag-right"></div>

					<div class="row">
					
						<div class="col-md-12">
						
						
							<div id="head-slider" class="transistion">
							
								<div class="slide-contents">
								
									<div class="slide">
									
										<h2 class="work">
										
											<figure class="">
											
												<img src="__IMG__/work.svg">
											
											</figure>
										
										</h2>
										
									
									</div>
								
								
								</div>
								
								   					
							</div>
						
						
						</div> <!-- /col 24 -->
				
					</div> <!-- /row -->
				
				</div>
	
			</div>
		
		</div>
	
	</section>
<!-- top 块 -->
	
		


<section id="hello">
	
	
		<div class="container">
		
			<div class="row">
				
				<div class="col-md-12">
	
	
					<article>
					
						<figure>
						
							<img src="__IMG__/pencil.svg" >
						
						</figure>
					
					
						<h3>What I've been up to.</h3>
						
						<p class="info">
						Here's a selection of some recent work. For more up to the minute work you can visit me on <a class="new-window" href="http://dribbble.com/seanehalpin">dribbble</a> or <a class="new-window" href="http://twitter.com/seanehalpin">twitter</a>.
						</p>
					
					
					</article>
					
				</div>
				
			</div>
			
		</div>
	
	
	</section>

	
	
	<section id="table" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						<img class="lazy" src="__IMG__/loader.gif" data-original="__IMG__/rest-tablet.jpg" alt="Table Reservation" width="900" height="441" />
					
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Table Reservation</h2>
						
						<h3>Interface Design / UI</h3>
						
													
						<p>
						As an exploration in product design and architecture I have been working on an idea for a restaurant reservation system. Thoroughly challenging thinking through the product design but ultimately rewarding.
						</p>
						
						<p class="btn-hldr shot-btn">
							<a href="https://dribbble.com/shots/1608486-Reservation-Table" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
						</p>
						
							
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	
	<section id="emp" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						<img class="lazy" src="__IMG__/loader.gif" data-original="__IMG__/emp-hp.jpg" alt="Employify" width="800" height="538" />
					
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Employify</h2>
						
						<h3>WordPress Theme / UI</h3>
						
													
						<p>
						 I worked on a new WordPress theme for astoundify.com. A job board theme with a heavy focus on video resumes, available for purchase shortly.
						</p>
						
						<p class="btn-hldr shot-btn">
							<a href="https://dribbble.com/shots/1518432-Employify-Resume" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
						</p>
						
							
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	
	<section id="origami" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						<img class="lazy" src="__IMG__/loader.gif" data-original="__IMG__/origami-hp.jpg" alt="Origami" width="800" height="538" />
					
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Origami</h2>
						
						<h3>Web Design / UI</h3>
						
													
						<p>
						 I worked with Facebook to come up with a few concepts for a landing page for Origami, their design prototyping toolkit. Here's one of the earlier drafts that I came up with for the site.
						</p>
						
						<p class="btn-hldr shot-btn">
							<a href="http://drbl.in/krrk" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
						</p>
						
							
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
		
	
	<section id="journey" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						<img class="lazy" src="__IMG__/loader.gif" data-original="__IMG__/journey-hp.jpg" alt="Journey" width="800" height="538" />
					
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Journey</h2>
						
						<h3>Web Design / UI / UX / App Design</h3>
						
													
						<p>
						I'm currently working on a travel related app called Journey, mainly as a collaborative side project to get a better understanding of both app design and development for different platforms.
						</p>
						
						<p class="btn-hldr shot-btn">
							<a href="http://drbl.in/kocR" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
						</p>
						
							
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>

	
	
	
	<section id="sherpa" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						<img class="lazy" src="__IMG__/loader.gif" data-original="__IMG__/ivs-hp.jpg" alt="Sherpa" width="800" height="538" />
					
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Invoice Sherpa</h2>
						
						<h3>Web Design / UI</h3>
						
													
						<p>
						I created a marketing site for Invoice Sherpa, a SAAS that helps business owners and book keepers to automate their accounts receivable. I decided to build out the identity around the product name, working in some illustrations to help create the brand.
						</p>
						
						<p class="btn-hldr shot-btn">
							<a href="http://drbl.in/jRQg" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
						</p>
						
							
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	
	<section id="realtii" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						<img class="lazy" src="__IMG__/loader.gif" data-original="__IMG__/realtii-hp.jpg" alt="Realtii" width="800" height="538" />
					
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Realtii</h2>
						
						<h3>Web Design</h3>
						
													
						<p>
						I worked on the communication site for Realtii, a reimagining of how people search for real estate. 
						The site called for lots of illustrations to convey its purpose, with a big focus on creating a welcoming feel.
						</p>
						
						<p class="btn-hldr shot-btn">
							<a href="http://drbl.in/jxyz" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
						</p>
						
							
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	
	<section id="trizic" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						<img class="lazy" src="__IMG__/loader.gif" data-original="__IMG__/trizic-hp.jpg" alt="Trizic" width="800" height="538" />
					
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Trizic</h2>
						
						<h3>UI Design / UX Design / Web Design</h3>
						
													
						<p>
						Recently I worked on an overhaul of the marketing website for Trizic, a web-based advisory service platform. I used soft colours to keep the website friendly but also maintain its business like nature. 
						</p>
						
						<p class="btn-hldr shot-btn">
							<a href="http://dribbble.com/seanehalpin/projects/152669-Financial" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
						</p>
						
							
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	<section id="retrolove" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						
						<img class="lazy" src="__IMG__/loader.gif" data-original="__IMG__/retrolove-hp.jpg" alt="Retrolove" />
					
					</div>
					
					
					
					<div class="shot-info">
					
					<h2>Retrolove</h2>
					
					<h3>UI Design / UX Design</h3>
					
					
					<p>
					Retrolove contacted me to give a refresh to their online storefront. I updated their colour palette for a more vibrant, youthful feel &amp; changed their typography to better suit their brand nature.
					</p>
					
					<p class="btn-hldr shot-btn">
						<a href="http://drbl.in/hNjK" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
					</p>
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>


	<section id="text-king" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						
						<img class="lazy" src="__IMG__/loader.gif" data-original="__IMG__/textking-hp.jpg" alt="Text King" width="800" height="538" />
					
					</div>
					
					
					
					<div class="shot-info">
					
					<h2>Text King</h2>
					
					<h3>UI Design / Web Design / Responsive</h3>
					
					
					<p>
					Text King specialize in offering copy for a range of services in a short space of time. I decided some clean, flat illustrations were a different way to bring life to the field, whilst making sure the emphasis remained on the content.
					</p>
					
					<p class="btn-hldr shot-btn">
						<a href="http://drbl.in/iYKB" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
					</p>
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	




<section id="i-can-help">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<article>
					
					
						<header>

							<h2>I can help.</h2>
									
							<h3>I'm currently available for freelance work.</h3>
								
						</header>
						
						<p>If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.</p>
						
						<p class="btn-hldr">
						
							<a href="@gmail.com||sean.e.halpin" class="main-btn email-lnk">message me <i class="email"></i></a>
						
						</p>

					
					</article>
				
				</div>
			
			</div>
		
		</div>
	
	
	</section>

	
</block>

<block name="area_footer">
	<footer>
	
		<div class="container">
			
			<div class="row">
			
				<div class="col-md-12">
				
					<ul class="footer-list">
							
						<li><a href="#">{:L('QQ')}</a></li>
						<li><a href="#">{:L('WECHAT')}</a></li>
						<li><a href="@126.com||gooraye" class="email-lnk">{:L('EMAIL')}</a></li>
							
					</ul>
				
				</div>
			
			</div>
			
			
		
		</div>
	
	</footer>


    <script src="__JS__/app.js"></script>
    <script src="__JS__/init.min.js"></script>
</block>	




	

    
</body>
</html>