<extend name="partials/style1" />


<block name="area_header">
	<style type="text/css">
		.services-banner{
			background: url(__IMG__/banner/fuwu.jpg) no-repeat center top;
		}
		
		.development{
			background: url(__IMG__/banner/development.jpg) no-repeat center top;
		}
		.flowpath{
			background: url(__IMG__/banner/flowpath.jpg) no-repeat center top;
		}
	</style>
</block>

<block name="area_body">
	<include file="partials/header" />

	<div class="services-banner">

	</div>

	<div class="core-services clearfix center-block">
		<h3 class="col-lg-push-2 col-md-push-2  col-lg-10 col-md-10">核心服务 THE CORE SERVICES</h3>
		<hr class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10" />
		<ul class="list-unstyled row  col-lg-push-1 col-md-push-1 col-lg-10 col-md-10">
			<li class="col-lg-5 col-lg-push-1 col-md-push-1 col-md-5">
				<img class="img-responsive" src="__IMG__/fuwu/1.jpg" alt="IOS开发" />
				<h4 class="text-info">IOS开发</h4>
				<p>体验全球最完善、生态环境最优秀的iOS系统，配以简洁的设计及强大的技术保证，打造最优秀的iPhone\iPad平台APP应用。</p>
			</li>
			<li class="col-lg-5 col-lg-push-1 col-md-push-1 col-md-5">
				<img class="img-responsive" src="__IMG__/fuwu/2.jpg" alt="Android开发" />
				<h4 class="text-info">Android开发</h4>
				<p>用户基数最大的主流移动平台，开放的系统接口，流畅的用户体验，打造应用领域最广的安卓应用解决方案。</p>
			</li>
			<li class="hr"></li>
			<li class="col-lg-5 col-lg-push-1 col-md-push-1 col-md-5">

				<img class="img-responsive" src="__IMG__/fuwu/3.jpg" alt="微信公众号开发" />
				<h4 class="text-info">微信公众号开发</h4>
				<p>成就您的独一无二，满足企业个性化需求,并提供最佳体验，专业的技术、开发团队支持，针对企业更深层次的需求进行高端定制和开发！精心为您打造一流的微信功能！</p>
			</li>
			<li class="col-lg-5 col-lg-push-1 col-md-push-1 col-md-5">

				<img class="img-responsive" src="__IMG__/fuwu/4.jpg" alt="运营推广" />
				<h4 class="text-info">运营推广</h4>
				<p>博也科技作为一家国内有着丰富的品牌、产品、APP全案代运营的企业，为多家企业提供品牌、产品、APP全案代运营服务等业务。我们有着出色的运营团队，为企业提供富有创意的推广方案，并为企业宣传企业文化、理念。</p>
			</li>
			<li class="hr"></li>
			<li class="col-lg-5 col-lg-push-1 col-md-push-1 col-md-5">

				<img class="img-responsive" src="__IMG__/fuwu/5.jpg" alt="O2O营销系统" />
				<h4 class="text-info">O2O营销系统</h4>
				<p>O2O软件系统一站式开发，快速为企业提供电商APP、网站一体化系统，用二维码诠释企业，用二维码诠释产品，帮企业引流线上客户，同时为线下老客户提供更便捷的服务。</p>
			</li>

			<li class="col-lg-5 col-lg-push-1 col-md-push-1 col-md-5">

				<img class="img-responsive" src="__IMG__/fuwu/6.jpg" alt="手机网站/商城开发" />
				<h4>手机网站/商城开发</h4>
				<p>随着移动终端及移动网络环境（3G、WIFI等）的升级，使用手机查看网页和上网的人也会越来越多，应用也越来越广泛，手机网站建设领域将会为企业公司带来巨大的利益。</p>
			</li>


		</ul>

	</div>
	<div class="research-development clearfix center-block">
		<h3 class="col-lg-push-2 col-md-push-2  col-lg-10 col-md-10">定制研发  <span class="text-info">Research and Development</span></h3>
		<hr class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10" />
		<div class="development col-lg-10 col-md-10">

		</div>
		<div class="flowpath col-lg-10 col-md-10">

		</div>
	</div>
	<hr />
	<div class="services-desc clearfix center-block">
		<div class="col-lg-6 col-md-6" >
			<div class="col-lg-push-2 col-lg-10 center-block">
			<h1>APP开发项目流程管控</h1>
			<p>1. APP开发流程管理：各个功能实现计划表，图片设计计划表。</p>
			<p>2. 沟通：周期例会，头脑风暴。</p>
			<p>3. 质量管理：内测优化，设计评审。</p>
			<p>4. 安全性管理 ：压力测试。云端服务器的部署。</p>
			</div>
		</div>
		<div  class="col-lg-6 col-md-6" >
			<div class="col-lg-push-2 col-lg-10 center-block">
			<h1>APP产品上架执行：</h1>
			<p>1. 上架前产品内测：专业评测，压力测试，问卷调查。</p>
			<p>2. 产品形象优化：产品名称优化，产品介绍优化，产品说明方案优化，产品功能高点提炼，截图优化。</p>
			<p>3. 产品排名优化：增加用户评论，冲积分墙，增加媒体曝光，独家限权，刷榜。</p>
			</div>
		</div>
	</div>
	<p></p>


</block>

<block name="area_footer">
	<include file="partials/footer" />
</block>