<extend name="partials/style1" />


<block name="area_header">
	<style type="text/css">
		
		.skill-banner{
			height: 778px;
			background: url(__IMG__/skill.jpg) no-repeat center top;
		}
	</style>
</block>

<block name="area_body">
	<include file="partials/header" />
	
	<div class="skill-banner">
		
	</div>
	
	<div class="skills">
		<img class="img-responsive" src="__IMG__/banner/skill.jpg" alt="博也技术优势"/>
	</div>





	

</block>

<block name="area_footer">
	<include file="partials/footer" />
</block>