<extend name="partials/style1" />


<block name="area_header">
	<style type="text/css">
		.skill-banner {
			height: 400px;
			background: url(__IMG__/banner/skill.jpg) no-repeat center top;
		}
	</style>
</block>

<block name="area_body">
	<include file="partials/header" />

	<div class="skill-banner">

	</div>

	<div class="skills clearfix">
		<h2 class="text-center">14种App开发专项技术，超过80项App开发技术应用经验</h2>
		<hr />
		<div class="skill-item col-lg-10 col-lg-push-1 col-md-10 col-md-push-1">
			<img src="__IMG__/skills/imbg.jpg" style="height: 252px;" alt="im" class="img-responsive hidden-sm hidden-xs  col-lg-5 col-md-5 pull-left" />
			<div class="skill-desc  col-lg-7 col-md-7 col-xs-10 col-sm-10 pull-right">
				<h1>IM即时通信技术</h1>
				<p class="text-info">基于文本，多媒体（语音/图片）的IM即时通讯技术。我们的可实现方式有：</p>
				<p class="text-info">1.终端-&gt;服务器-&gt;终端技术实现方式</p>
				<p class="text-info">2.局域网内即时通信</p>
				<p class="text-info">3.wifi网内即时通信</p>
				<p class="text-info">4.基于蓝牙的即时通信</p>
			</div>
		</div>

		<div class="skill-item col-lg-10 col-lg-push-1 col-md-10 col-md-push-1">
			<img src="__IMG__/skills/arrbg.jpg" style="margin-top: 75px;" alt="im" class="col-lg-5 hidden-sm hidden-xs col-md-5  img-responsive  pull-right" />
			<div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 skill-desc pull-left" >
				<h1>AR(Augmented Reality)实景增强技术</h1>
				<p class="text-info">增强现实（Augmented Reality，简称 AR），是一种实时地计算摄影机影像的位置及角度并加上相应图像的或3D模型技术，这种技术的目标是在屏幕上把虚拟世界套在现实世界并进行互动。我们目前可实现的类型有：</p>
				<p class="text-info">1.基于GPS、摄像头、重力感应的LBS AR应用</p>
				<p class="text-info">2.AR 3D模型实景增强</p>
				<p class="text-info">3.适用与景区的实景浏览器</p>
			</div>
		</div>

		<div class="skill-item col-lg-10 col-lg-push-1 col-md-10 col-md-push-1">
			<img src="__IMG__/skills/stockbg.jpg" alt="im" class="img-responsive col-lg-5 col-md-5 hidden-sm hidden-xs  pull-left" />
			<div class="skill-desc pull-right col-lg-7 col-md-7 col-sm-12 col-xs-12">
				<h1>实时股票曲线技术</h1>
				<p class="text-info">我们拥有实时行情数据和即时股票曲线显示技术，而不是简单的从服务器读取股票走势截图并定时刷新！</p>

			</div>
		</div>

		<div class="skill-item col-lg-10 col-lg-push-1 col-md-10 col-md-push-1">
			<img src="__IMG__/skills/siribg.jpg" alt="im" class="img-responsive col-lg-5 col-md-5 hidden-sm hidden-xs  pull-right" />
			<div class="skill-desc col-lg-7 col-md-7 col-xs-12 col-sm-12 pull-left">
				<h1>名片扫描  /  图片文本识别  /  语音识别技术</h1>
				<p class="text-info">1.基于Tesseract开源技术的文本识别/名片扫描实践</p>
				<p class="text-info">2.基于opencv开源技术的文本识别/名片扫描实践</p>
				<p class="text-info">3.对科大讯飞（中文）和谷歌（多语言）开源语音识别技术的实践</p>
			</div>
		</div>
		<div class="skill-item col-lg-10 col-lg-push-1 col-md-10 col-md-push-1">
			<img src="__IMG__/skills/3dbg.jpg" alt="im" class="img-responsive  col-lg-5 col-md-5 hidden-sm hidden-xs pull-left" />
			<div class="skill-desc pull-right col-lg-7 col-md-7 col-xs-12 col-sm-12">
				<h1>3D模型、场景制作  /  3D展示  /  3D物体滑动操作技术</h1>
				<p class="text-info">我们拥有真正的3D物体制作技术，并实现360全景操作展示！而不是简单得使用HTML+JS让多张图片堆砌来实现</p>
				<p class="text-info">1.拥有Unity3D建模开发实践，并熟练使用cocos3d结合3DMax和maya软件制作3D物体，并在ios/android设备上显示出来</p>
				<p class="text-info">我们的应用领域包括：房地产全景展示，模具3D全景展示，家居装修效果3D展示等</p>
			</div>
		</div>
		<div class="skill-item col-lg-10 col-lg-push-1 col-md-10 col-md-push-1">
			<img src="__IMG__/skills/moviebg.jpg" alt="im" class="img-responsive col-lg-5 col-md-5 hidden-sm hidden-xs pull-right" />
			<div class="skill-desc col-lg-7 col-md-7  col-sm-12 col-xs-12 pull-left">
				<h1>视频合成  /  红蓝3D图片合成  /  RMVB、MKV视频播放  /  GIF动画播放和制作</h1>
				<p class="text-info">1.类似知名应用Action Movie FX实现方式</p>
				<p class="text-info">2.可制作类似Gif快手App</p>
				<p class="text-info">3.RMVB、MKV视频播放技术</p>
				<p class="text-info">3.图片处理，滤镜，图片合成，红蓝3D图片制作等</p>
			</div>
		</div>

	</div>







</block>

<block name="area_footer">
	<include file="partials/footer" />
</block>