<extend name="partials/style1" />


<block name="area_header">
	<style type="text/css">
		.solutions-banner {
			background: url(__IMG__/banner/solution.jpg) no-repeat center top;
		}
	</style>
</block>

<block name="area_body" >
	<include file="partials/header" />

	<div class="solutions-banner">

	</div>
	
	<div class="all-solutions clearfix center-block" >

		<div class="col-md-9">
			<div id="solution1" class="solution-item">
				<img class="item-img img-responsive" src="__IMG__/solutions/dianshang.jpg" alt="电商app解决方案" />
				<h3>电商app解决方案</h3> 
				<p class="item-desc">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）帮助企业推动移动电子商务新业务模式发展，引导用户进行移动购物消费体——开辟新的增值服务市场，拉近移动用户与网上电子商务时尚生活距离，同时还能够大大增强移动用户的粘性。
					<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）满足客户的需求，培养客户的使用情况，主要是从简单功能实现入手，因为目前移动电子商务已经步入正轨，从移动互联网到手机，客户的使用习惯已经完全改变，可以给用户提供衣食住行等信息类服务入手，及时满足用户的生活信息需求，有利于培养用户使用习惯。
					<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）移动购物网站功能有自己的独特性，跟互联网有很大的区别，如今手机上网的吸引力不单单是体现在便捷性上面，而是通过内容的独特性跟功能的独特性，不然很难形成用户群。
				</p>
			</div>
			
			<div id="solution2" class="solution-item">
				<img class="item-img img-responsive" src="__IMG__/solutions/shequapp.jpg" alt="社区APP解决方案" />
				<p class="item-desc">
					<h3>社区APP解决方案</h3> 
					社区APP客户端开发可以帮助企业打造个性化的移动门户和客户端，随时随地展示企业形象、传播企业信息、处理意向客户、管理网站运营，将企业获得更多的客户的途径大大地拓展到广大手机用户，让企业可以以最低的成本实现业务的增长。有数据统计，社区APP客户端终端目前推出的APP的应用程序有100万个，经常应用的达到70多万个，每天的下载次数达到350亿次。
					
				</p>
			</div>
			<div id="solution3" class="solution-item">
				<img class="item-img img-responsive" src="__IMG__/solutions/meiti.jpg" alt="媒体资讯APP解决方案" />
				<p class="item-desc">
					<h3>媒体资讯APP解决方案</h3> 
					媒体资讯行业是处在人们越来越多的碎片化时间的行业，一个好的APP应该更能符合现在的人们消费媒体、资讯的需求。媒体服务商正通过APP应用向客户提供图片、新闻、快讯、社交、等个性化服务，以最大化现代人的碎片化时间。
					
				</p>
			</div>
			<div id="solution4" class="solution-item">
				<img class="item-img img-responsive" src="__IMG__/solutions/yiliao.jpg" alt="医疗APP解决方案" />
				<p class="item-desc">
					<h3>医疗APP解决方案</h3> 
					远程医疗信息化解决方案适用于医疗、健康、美容行业，可以帮助医院提供优质服务、提高医疗水平、提高效益， 促进医患沟通。医疗健康类的APP应用将帮助企业更多的与智能手机用户、中高端的家庭用户联系在一起，通过手机问医、手机排号、手机病历、手机支付等来实现对广大消费者的健康服务。
					
				</p>
			</div>
			<div id="solution5" class="solution-item">
				<img class="item-img img-responsive" src="__IMG__/solutions/canyin.jpg" alt="餐饮行业APP解决方案" />
				<p class="item-desc">
					<h3>餐饮行业APP解决方案</h3> 
					在餐饮行业快速发展的今天，餐厅除了要保证和提高自身的服务质量，品牌的推广、服务方式的创新也显得尤为重要。而移动APP正对很多行业产生变革，中国成为APP增长最快的国家之一，人们用手机找美食、找餐厅、网上订餐正在成为生活的一部分。
					
				</p>
			</div>
			<div id="solution6" class="solution-item">
				<img class="item-img img-responsive" src="__IMG__/solutions/lvyou.jpg" alt="旅游APP解决方案" />
				<p class="item-desc">
					<h3>旅游APP解决方案</h3> 
					手机和旅行结合的速度和深度已经超出想象，移动定票、旅游相关的APP已经成为游客出行下载的必备客户端，更多的游客会在旅行中需要它。
					
				</p>
			</div>
			<div id="solution7" class="solution-item">
				<img class="item-img img-responsive" src="__IMG__/solutions/dianzizhengwu.jpg" alt="电子政务APP解决方案" />
				<p class="item-desc">
					<h3>电子政务APP解决方案</h3> 
					政务公开的下一站：手机电子政务。越来越多的一线城市、地方政府开始移动电子政务，通过开发政务APP应用，实现独立业务流的小、快、多的高效政务办公模式。
					
				</p>
			</div>
			<div id="solution8" class="solution-item">
				<img class="item-img img-responsive" src="__IMG__/solutions/wulianwang.jpg" alt="物联网APP解决方案" />
				<p class="item-desc">
					<h3>物联网APP解决方案</h3> 
					物联网带入了用户的日常生活。各种智能设备作为传感器与交互设备，将用户的日常生活等数据通过智能手机传输到云端，进行分析与应用，并能解放人们的双手，实现更多信息应用，为人们的身体健康与日常生活带来极大的便利。
					
				</p>
			</div>
			<div id="solution9" class="solution-item">
				<img class="item-img img-responsive" src="__IMG__/solutions/qiche.jpg" alt="汽车行业APP解决方案" />
				<p class="item-desc">
					<h3>汽车行业APP解决方案</h3> 
					APP应用对于汽车4S店来讲是一场销售的革命，通过开发在线选车、在线看车、在线预约试驾、在线预约保养等一系列的功能开发，使4S店能在碎片化时间对汽车消费者进行营销。
					
				</p>
			</div>
		</div>

		<div class="col-md-3">
			<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" >
				<h2 >解决方案</h2>
				<ul class="nav nav-pills nav-stacked menus">
					<li><a href="#solution1" >电商APP解决方案</a>
					</li>
					<li><a href="#solution2" class="">社区APP解决方案</a>
					</li>
					<li><a href="#solution3" class="">媒体资讯APP解决方案</a>
					</li>
					<li><a href="#solution4" class="">医疗APP解决方案</a>
					</li>
					<li><a href="#solution5" class="">餐饮行业APP解决方案</a>
					</li>
					<li><a href="#solution6" class="">旅游APP解决方案</a>
					</li>
					<li><a href="#solution7" class="">电子政务APP解决方案</a>
					</li>
					<li><a href="#solution8" class="">物联网APP解决方案</a>
					</li>
					<li><a href="#solution9" class="">汽车行业APP解决方案</a>
					</li>
				</ul>

			</nav>
		</div>
	</div>







</block>

<block name="area_footer">
	<include file="partials/footer" />
	<script type="text/javascript">
		$(function(){
			$(".bs-docs-sidebar").affix({
			  offset: {
			    top: 600,
			    bottom: function () {
			      return (this.bottom = $('.footer').outerHeight(true))
			    }
			  }
			});
		});
	</script>
</block>