/*布局与通用*/

#top-nav {
	width: 100%;
}
#top-nav>div>div {
	padding: 5px 10px;
}
#top-nav i.fa {
	margin: 0px 2px;
}
#header-nav {
	width: 100%;
	z-index: 999999;
}
#header-nav .navbar-toggle {
	padding: 15px 15px;
	margin-top: 13px;
}
#header-nav .nav>li .fa{
	width: 30px;
}
#header-nav .nav>li {
	padding: 15px 0px;
}
#header-nav .nav>li>a {
	font-size: 1.5em;
}
#header-nav .nav .dropdown-menu>li {
	padding: 10px 0px;
}
#header-nav .navbar-brand {
	padding: 25px;
	margin-right: 30px;
	height: 73px;
	color: #fff;
	font-weight: bold;
	background: #834FA1;
}
#header-nav .navbar {
	border: 0px;
	margin-bottom: 0px;
}
/*头部 */

#header {
	width: 100%;
}
/*底部*/

#footer {
	width: 100%;
	padding: 20px 0px;
}
/*carousel-control*/

.carousel-control .fa-arrow-left,
.carousel-control .fa-arrow-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.what-can-we-do,.core-services {
	width: 100%;
}
.what-can-we-do .do-item .item-img {
	width: 100%;
	height: 180px;
	display: block;
}
.what-can-we-do .do-item .item-desc h3 {
	margin: 0px;
	color: #fff;
}
.about-boye{
	margin-top: 20px;
	margin-bottom: 20px;
}
.about-boye .desc p{
	text-indent: 2em;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 25px;
}
.contact-boye{
	font-size: 1.2em;
}
.contact-boye li{
	margin: 10px 0px;
}
.contact-boye .fa{
	width: 36px;
	text-align: center;
}

.skill-banner,.solutions-banner,.services-banner,.about-banner{
	width: 100%;
	height: 270px;
}
.development{
	width: 100%;
	height: 670px;
}
.bs-docs-sidebar h2{
	padding: 10px 15px;
	background: #9900CC;
	color: #fff;
}
.weixin {
	position: relative;
}
.wx-qrcode{
	z-index:999999;
	right: 0px;
	position: absolute;
	top:20px;
	display: none;
	width: 150px;
	height: 150px;
}

	#top-nav>div {
		width: 100%;
	}
	#header-nav>div {
		width: 100%;
	}
	/*头部 */
	
	#header>div {
		width: 100%;
	}
	/*底部*/
	
	#footer>div {
		width: 100%;
	}
	.what-can-we-do,.about-boye,.core-services {
		width: 100%;
	}
@media (min-width: 768px) {
	#header-nav{
		width: 100%;
	}
	#top-nav>div {
		width: 100%;
	}
	#header-nav>div {
		width: 100%;
	}
	/*头部 */
	
	#header>div {
		width: 100%;
	}
	/*底部*/
	
	#footer>div {
		width: 100%;
	}
	.what-can-we-do,.about-boye,.core-services {
		width: 100%;
	}
	
} 
@media (min-width: 992px) {
	/*布局与通用*/
	.bs-docs-sidebar.affix {
		position: fixed;
		top: 80px;
		width: 300px;
	}
	#top-nav>div {
		width: 980px;
	}
	#header-nav>div {
		width: 980px;
	}
	/*头部 */
	
	#header>div {
		width: 980px;
	}
	/*底部*/
	
	#footer>div {
		width: 980px;
	}
	.what-can-we-do,.about-boye,.core-services {
		width: 1000px;
	}
	
	.all-solutions .solution-item{
		width:600px;
		margin-left: 100px;
		border: 1px solid #e6e6e6;
		margin-bottom: 20px;
		padding: 10px 15px;
	}
}
@media (min-width: 1200px) {
	/*布局与通用*/
	
	#top-nav>div {
		width: 1200px;
	}
	#header-nav>div {
		width: 1200px;
	}
	/*头部 */
	
	#header>div {
		width: 1200px;
	}
	.what-can-we-do,.about-boye,.core-services {
		width: 1300px;
	}
	.all-solutions .solution-item{
		width:820px;
	}
	
	.all-solutions .solution-item{
		width:820px;
		margin-top: 10px;
		padding: 10px 15px;
	}
	
	/*底部*/
	
	#footer>div {
		width: 1200px;
	}
	
}