#top-nav{
	background: #f2f2f2;
}
#header-nav{
	background: #fff;
}
#footer{
	background: #151515;
}
.about-boye{
	background: #ffffff;
}
.contact-boye{
	background: #3C4648;
	color: #ffffff;	
}
.contact-boye h3,.contact-boye h2,.contact-boye a{
	color: #ffffff;
}
