<div id="footer">
	<div class="clearfix center-block text-center">
		<div class="contacts">
			QQ: 2966442390 电话: 0571-88467089 传真： 0571-88467089&nbsp地址：下沙经济开发区万亚名城2幢1515
		</div>
		<div class="copyright">
			&copy;2013-{:date("Y")} 杭州博也信息科技有限公司 | <a href="http://www.miitbeian.gov.cn">浙ICP备14015469号</a>
		</div>
	</div>
	
	<div class="clearfix center-block text-left">
		
	</div>
	
</div>
<!-- 代码 开始 -->
<!--<audio id="bgMusic" class="hidden-xs" src="__CDN__/onlineservice/style2/bg.mp3" autoplay="autoplay" loop="loop"></audio>-->
<div id="service" class="hidden-xs">
	<a class="srvCns" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2966442390&site=qq&menu=yes">在线咨询</a>
	
	<a class="goTop" href="#" id="goTop" title="返回顶部" style="display:none">返回顶部</a>
</div>

<script type="text/javascript" src="__CDN__/onlineservice/style2/service.js"></script>