<div id="top-nav">
	<div class="clearfix center-block">

		<!-- 顶部快捷导航 -->
		<div class="pull-left">杭州博也网络科技有限公司</div>
		<div class="pull-right">
			<span class="hidden-xs"> 
		 	<a class="xinlang" href="http://weibo.com/gooraye" target="_blank"><i class="fa fa-weibo fa-2x "></i></a>
		</span>
			<span  class="hidden-xs">
     		<a class="tentxun" href="http://t.qq.com/guruixinxikeji" target="_blank"><i class="fa fa-tencent-weibo fa-2x "></i></a>
		</span>
			<span class="weixin hidden-xs">
			<img id="weixinqrcode" src="__IMG__/qrcode_for_258.jpg" class="thumbnail wx-qrcode" alt="微信服务号" />
			<a href="#" onmouseover="$('#weixinqrcode').show(500);" onmouseout="$('#weixinqrcode').hide(1500);"><i class="fa fa-2x fa-weixin"></i></a>
		</span>
			<span>
			<a href="tel:13484379290" ><i class="fa fa-2x fa-phone"></i><span style="font-size: 1.4em;">13484379290</span>
			</a>
			</span>
		</div>

	</div>
</div>
<div id="header-nav" class="">
	<div class="clearfix center-block navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="{:U('Home/Index/index')}"><img src="__IMG__/logo.jpg" alt="im" /></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-navbar">
				<ul class="nav navbar-nav ">
					<li class="active"><a href="{:U('Index/index')}"><i class="fa fa-home"></i>首页 <span class="sr-only">(current)</span></a>
					</li>
					<li><a href="{:U('Index/services')}"><i class="fa fa-shopping-cart"></i>产品服务</a>
					</li>
					<li><a href="{:U('Index/solutions')}"><i class="fa fa-list-ol"></i>解决方案</a>
					</li>
					<li><a href="{:U('Index/skill')}"><i class="fa fa-thumbs-o-up"></i>合作客户</a>
					</li>
					<li><a href="{:U('Index/about')}"><i class="fa fa-group"></i>关于我们</a>
					</li>
				</ul>

			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	$(function(){
//		$("#header-nav").pin();
	});
	
</script>
